# Archivos de datos
*.pkl
pruebas.ipynb

# Configuración local de VS Code
*.code-workspace
.vscode/

# Configuración de JetBrains IDEs
.idea/

# Archivos temporales de Jupyter
.ipynb_checkpoints/

# Archivos de Python que no se deben versionar
__pycache__/
*.pyc
